
body {
    display: flex;
    background: #FFF5E1;
    font-family: sans-serif;

}

header {
    text-align: center;
    background: #FFC0CB;
    color: #B0BEC5;
    padding: 10px;
}

footer {
    text-align: center;
    background: #FFC0CB;
    color: #B0BEC5;
    padding: 10px;
    width: 100%;
}

main {
    
}
