header {
    background: #FFC0CB;
    color: #B0BEC5;
    padding: 10px;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
    display: block;
}

.slogan {
    flex: 1;
    font-size: 1.2em;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav-btn {
    background: #A1887F;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s;
}
.nav-btn:hover {
    background: #BCAAA4;
    color: #6D4C41;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main, .bienvenida {
    flex: 1;
}

footer {
    text-align: center;
    background: #FFC0CB;
    color: #B0BEC5;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

main {
    
}

































































/*apartado de index de la pagina*/
.carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.pastel {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
main{
    padding: 20px;
    position: center;
}
.Destacados {
    text-align: center;
    margin: 20px 0;
}
.Destacados h1 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
